mkdocs==1.4.3
mkdocs-material==9.1.15
mkdocs-ezlinked-plugin==0.3.3
mkdocs-awesome-pages-plugin==2.9.1
mdx_breakless_lists==1.0.1
mkdocs-preview-links-plugin==0.6.2
mkdocs-embed-file-plugins==2.0.5
mkdocs_custom_fences==0.1.2
mkdocs-git-revision-date-localized-plugin==1.2.0
mkdocs-encryptcontent-plugin==2.5.3
mkdocs-callouts==1.9.0
mkdocs-custom-tags-attributes==0.3.0
mkdocs-meta-descriptions-plugin==2.2.0
obsidiantools==0.10.0
pyvis==0.3.2
cairosvg==2.7.0
pillow==9.5.0
mkdocs-glightbox==0.3.4
mkdocs-minify-plugin==0.6.4
