{% set site_url = config.site_url | get_last_part_URL %}
<!-- import js -->
<script
    type="text/javascript"
    src="{{site_url}}/assets/template/js/url_exist.js"
></script>
<script src="{{site_url}}/assets/template/js/chirpy.js"></script>
<script src="{{site_url}}/assets/template/js/mathjax.js"></script>
<script src="{{site_url}}/assets/template/js/misc.js"></script>
<script src="{{site_url}}/assets/template/js/wiki_hover.js"></script>

<!-- IMPORT CSS -->

<link
    rel="stylesheet"
    href="{{site_url}}/assets/template/css/blog.css"
/>
<link
    rel="stylesheet"
    href="{{site_url}}/assets/template/css/grid.css"
/>
<link
    rel="stylesheet"
    href="{{site_url}}/assets/template/css/img-grids-floats.css"
/>
<link
    rel="stylesheet"
    href="{{site_url}}/assets/template/css/snippets.css"
/>
<link
    rel="stylesheet"
    href="{{site_url}}/assets/template/css/misc.css"
/>