.not_found {
	background-color: lightgrey;
	display: inline;
	color: grey;
	border-radius: 5px;
	padding: 5px;
}

.not_found:hover {
	background-color: grey ;
	color: lightgrey;
	cursor: not-allowed;
}

.md-footer {
	display: none;
}

.dataview {
	display: none !important;
}

